<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Alunos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<main class="continer m-2 mx-auto my-front-family">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Curso</th>
                    <th>Matrícula</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($alunos as $aluno) : ?>
                    <tr>
                        <td><?= $aluno->getNome() ?></td>
                        <td><?= $aluno->getCpf() ?></td>
                        <td><?= $aluno->getTelefone() ?></td>
                        <td><?= $aluno->getEmail() ?></td>
                        <td><?= $aluno->getCurso()->getNome() ?></td>
                        <td><?= $aluno->getMatricula() ?></td>
                        <td>
                            <a href="<?= URL ?>aluno/editar/<?= $aluno->getId() ?>" class="btn btn-warning">Editar</a>
                            <a href="<?= URL ?>aluno/excluir/<?= $aluno->getId() ?>" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
</main>